<!DOCTYPE html>
{% load feincms_tags leonardo_tags branding i18n %}
<html>
  {% block header %}
  {% include "_header.html" %}
  {% endblock header %}
  <body id="{% block body_id %}{% endblock %}" ng-app='hz' class="skin-blue sidebar-mini wysihtml5-supported {% if not request.user.is_authenticated %}sidebar-collapse sidebar-open{% endif %}">
    <div class="wrapper">
      <header class="main-header">
        {% block page_header %}
        {% feincms_render_region feincms_page "header" request %}
        {% endblock %}
      </header>
      {% include "horizon/_messages.html" %}
      {% block content %}
      <aside class="main-sidebar">
        {% feincms_render_region feincms_page "col1" request %}
        {% feincms_render_region feincms_page "col2" request %}
      </aside>
      <div class="content-wrapper">
        <section class="content-header">
          {% feincms_render_region feincms_page "toolbar" request %}
        </section>
        <section class="content">
          {% block body_main %}{% feincms_render_region feincms_page "col3" request %}{% endblock %}
        </section>
      </div>
      {% endblock %}
      <footer class="main-footer">
        {% block footer %}
        {% feincms_render_region feincms_page "footer" request %}
        {% endblock %}
      </footer>
      {% if request.user.is_authenticated and request.user.is_staff and request.frontend_editing %}
      {% include "common/user_sidebar.html" %}
      {% endif %} 
    </div>
    {% block js %}
    {% include "horizon/_scripts.html" %}
    {% endblock %}
    {% block body_helper %}{% feincms_render_region feincms_page "helper" request %}{% endblock %}
    <div id="modal_wrapper"></div>
  </body>
</html>