include LICENSE
include MANIFEST.in
include README.rst
recursive-include leonardo_theme_adminlte/static *
recursive-include leonardo_theme_adminlte/locale *
recursive-include leonardo_theme_adminlte/templates *